@model ApplicationCore.Models.MovieDetailsResponseModel




<div class="container">

      <div class="row position-relative" style="background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(@Model.BackdropUrl); background-size:cover">
    <div class="row">
    <div class="col">
      <img src=@Model.PosterUrl alt="Movie Poster style="width:30%;height:30%;">
    </div>

    <div class="col">
      <h2 class="text-white">
        @Model.Title
        
        
        
      </h2>
      <h4 class="text-white">
          @Model.Tagline
      </h4>

      
      <h5 class="text-white"><span class="badge bg-secondary">Rating</span></h5>

      <div>
          @foreach (var genre in Model.Genres)
        {
            <span class="badge bg-secondary">@genre.Name  </span>
            
                
            
        }
      </div>
      <p class="text-white">@Model.Overview</p>
      

    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Buy Movie</button>
      <button type="button" class="btn btn-primary">Review</button>
    </div>
  </div>

</div>

  <div class="row">
    <div class="col">
      <h2>
          Movie Fact
      </h2>
    </div>
    <div class="col">
      <h2>
          Casts
      </h2>
    </div>
  </div>
  
</div>










